header
	.header-line
	.main
		a.header-logo(href='#')
			img(src="/images/logo.png")
		form.search(method="post" action="/" onsubmit="return false;")
			input.search-key(type='text' placeholder="Hi,你在找什么呐？")
			button.search-btn(type="submit") 搜索
		ul.nav
			li
				a(href="/") 首页
			li
				a(href="/me") 喻木同学
			li
				a(href="/about") 关于
			li
				a(href="/register") 注册
			li
				a(href="/login") 登录
			li
				a(href="/")
					img(src="./images/img91.jpg")
