doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="author" content="喻木同學")
		meta(name="description" content="喻木同學-我都不敢相信自己是只兔子")
		meta(name ="viewport" content ="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="renderer" content="webkit")
		link(href='./css/common.css', rel='stylesheet', type='text/css')
		link(href='/css/style.css', rel='stylesheet', type='text/css')
	body
		block content
		h3 hahahaha
