body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input，textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea {font: 12px/1.5  'Microsoft Jhenghei', 'microsoft yahei',"tahoma", Helvetica, Arial;-webkit-font-smoothing: antialiased;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-weight:normal;}
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea {font-size:100%;outline: 0;}
input, button, select{
	border: 1px solid #BDBDBD;
	background: #fff;
	padding: 8px 12px;
	font-size: 12px;
	line-height: 18px;
	border-radius: 2px;
	box-shadow: none;
	color: inherit;
}
:focus {
	outline: none;
}
table { border-collapse:collapse; border-spacing:0; }
.clearfix{
    clear: both;
}

h1{
	font-size: 32px;
}
h2{
	font-size: 28px;
}
h3{
	font-size: 24px;
}
h4{
	font-size:20px;
}