@charset 'utf-8'
body{
	position: relative;
}
.main{
	position: relative;
	margin: 0 auto;
	width: 1000px;
}
/* Header */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #607D8B;
}
.header-line{
	height: 1px;
	background-image: -moz-linear-gradient(to right,#fff 0%, #9575CD 25%,#4DD0E1 50%, #26A69A 75%, #FFEB3B 100%);
    background-image: -webkit-linear-gradient(to right,#fff 0%, #9575CD 25%,#4DD0E1 50%, #26A69A 75%, #FFEB3B 100%);
    background-image: linear-gradient(to right,#fff 0%, #9575CD 25%,#4DD0E1 50%, #26A69A 75%, #FFEB3B 100%);
}
header .main{
	overflow: hidden;
	height: 100%;
}
.header-logo{
	position: relative;
	float: left;
	top: 12px;
	width: 48px;
	height: 48px;
}
.header-logo img{
	width: 100%;
	height: 100%;
}
.nav{
	position: relative;
	float: right;
	height: 100%;
	overflow: hidden;
	line-height: 60px;
}
.nav li{
	float: left;
	margin-left: 12px;
	padding: 0 12px;
}
.nav li a{
	color: #607D8B;
}
.nav img{
	display: block;
	margin-top: 8px;
	height: 48px;
	width: 48px;
}
.search{
	float: left;
	margin: 12px 0 12px 36px;
	border: 1px solid #607D8B;
	border-radius: 2px;
}
.search-key, .search-btn{
	background: #fff;
	border:none;
}
.search-btn:hover{
	color: #6cc;
}



