@charset 'utf-8';
body{
	position: absolute;
    width:100%;
    min-height: 100%;
}
.main{
	position: relative;
	margin: 0 auto;
	width: 1000px;
}
/* Header */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #607D8B;
}
.header-line{
	height: 1px;
	background-image: -moz-linear-gradient(to right,#fff 0%, #9575CD 25%,#4DD0E1 50%, #26A69A 75%, #FFEB3B 100%);
    background-image: -webkit-linear-gradient(to right,#fff 0%, #9575CD 25%,#4DD0E1 50%, #26A69A 75%, #FFEB3B 100%);
    background-image: linear-gradient(to right,#fff 0%, #9575CD 25%,#4DD0E1 50%, #26A69A 75%, #FFEB3B 100%);
}
header .main{
	overflow: hidden;
	height: 100%;
}
.header-logo{
	position: relative;
	float: left;
	top: 12px;
	width: 48px;
	height: 48px;
}
.header-logo img{
	width: 100%;
	height: 100%;
}
.nav{
	position: relative;
	float: right;
	height: 100%;
	overflow: hidden;
	line-height: 60px;
}
.nav li{
	float: left;
	margin-left: 12px;
	padding: 0 12px;
}
.nav li a{
	color: #607D8B;
}
.nav img{
	display: block;
	margin-top: 8px;
	height: 48px;
	width: 48px;
}
.search{
	float: left;
	margin: 12px 0 12px 36px;
	border: 1px solid #607D8B;
	border-radius: 2px;
}
.search-key, .search-btn{
	background: #fff;
	border:none;
}
.search-btn:hover{
	color: #6cc;
}


/*  注册 & 登录 */
.content-absolute{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 500px;
    font-size: 14px;
    line-height: 2;
    overflow: hidden;
}
.half{
    position: relative;
    float: left;
    width: 50%;
    height: inherit;
}
.half-left{
    background: url("../images/bg-register.jpg") top right no-repeat #fff;
    background-size: contain;
}
.half-right{
    background: url("../images/magic.png") right top no-repeat #fcc;
    color: #834747;
}
.register{
    position: relative;
    width: 320px;
    margin: 0 72px;
}
.register-tab {
    width: 320px;
    margin: 120px 72px 20px;
    font-size: 20px;
    color: #DEDEDE;
}
.register-tab a{
	color: #834747;
	font-size: 18px;
	padding: 4px 10px;
}
.register-tab a.active{
	color: #ff5353;
	border-bottom: 2px solid;
}
.register-tab span{
	padding:0 10px;
}
.i-input {
    position: relative;
    margin-bottom: 16px;
}

.register .i-input label {
    display: block;
}

.register input{
    width: 296px;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #834747;
    box-shadow: 1px 2px 4px rgba(4,0,0,.2);
}

.i-input .i-tip {
    position: absolute;
    top: 0;
    right: 0;
    color: #EF0000;
    font-size: 12px;
    line-height: 28px;
    visibility: hidden;
}
.register .register-btn{
	margin: 36px 0 10px;
	width: 100%;
	background: #ff5353;
	color: #fff;
	font-size: 14px;
	border-color: #ff5353;
}
.register .register-btn:hover{
	background: #ff8888;
	border-color: #ff8888;
}
.register .register-btn:active {
    box-shadow: 0 2px 4px #F77979 inset, 1px 3px 4px rgba(4,0,0,.2);
}
.i-tip{
	text-align: right;
}
.i-tip a {
    color: #FF5353;
    margin: 0 4px;
    padding: 0 2px;
    border-bottom: 1px solid;
}
.register .i-input input:focus{
	box-shadow: 0 0 6px 1px #FFA8A8;
}